* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    padding: 0.5em;
}

@media screen and (max-width: 800px) {
    .col-1 {width: 100%;}
    .col-2 {width: 100%;}
    .col-3 {width: 100%;}
    .col-4 {width: 100%;}
    .col-5 {width: 100%;}
    .col-6 {width: 100%;}
    .col-7 {width: 100%;}
    .col-8 {width: 100%;}
    .col-9 {width: 100%;}
    .col-10 {width: 100%;}
    .col-11 {width: 100%;}
    .col-12 {width: 100%;}
    
    .container {width: 100%;}
    .nav a {width: 50%; font-size: 1em; padding: 1em 0.5em;}
    .botoneta {width: 100%; font-size: 2em; padding: 1em;}
    .meetUs div {width: 100%;}
    .header h1 {width: 95%; margin-left: 5%}
    #logo {width: 50%; margin-left: 50%;}
    .footer div p {font-size: 1.25em;}
    .hereWeAre {width: 100%; box-shadow: 0px;}
    .hereWeAre h1 {font-size: 4em;}
    .hereWeAre h2 {font-size: 2.5em;}
    
    .timeline::after {left: 31px;}
    .contenedor {width: 100%; padding-left: 70px; padding-right: 25px;}
    .contenedor::before {left: 60px; border: medium solid hsl(225, 100%, 60%); border-width: 10px 10px 10px 0; border-color: transparent hsl(225, 100%, 60%) transparent transparent;}
    .izqui::after, .deche::after {left: 15px;}
    .deche {left: 0%;}
}

@media screen and (min-width: 801px) and (max-width: 1199px) {
    .col-1 {width: 25%;}
    .col-2 {width: 25%;}
    .col-3 {width: 25%;}
    .col-4 {width: 50%;}
    .col-5 {width: 50%;}
    .col-6 {width: 50%;}
    .col-7 {width: 75%;}
    .col-8 {width: 75%;}
    .col-9 {width: 75%;}
    .col-10 {width: 100%;}
    .col-11 {width: 100%;}
    .col-12 {width: 100%;}
    
    .container {width: 100%;}
    .nav a {width: 50%; font-size: 2.5em; padding: 0.25em;}
    .botoneta {width: 100%; font-size: 1.5em; padding: 1em;}
    .meetUs div {width: 50%;}
    .meetUs #soyYo {margin-left: 25%; margin-right: 25%;}
    .header h1 {width: 74%; margin-left: 2.5%;}
    #logo {width: 20%; margin-right: 2.5%;}
    .hereWeAre {margin-left: 5%; margin-right: 5%; width: 90%;}
}

@media screen and (min-width: 1200px) {
    .col-1 {width: 8.333%;}
    .col-2 {width: 16.666%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.333%;}
    .col-5 {width: 41.666%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.333%;}
    .col-8 {width: 66.666%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.333%;}
    .col-11 {width: 91.666%;}
    .col-12 {width: 100%;}
    
    .container {width: 100%;}
    .nav a {width: 25%; font-size: 1.5em; padding: 0.25em;}
    .botoneta {width: 100%; font-size: 1.5em; padding: 0.5em;}
    .meetUs div {width: 20%;}
    .header h1 {width: 74%; margin-left: 2.5%;}
    #logo {width: 20%; margin-right: 2.5%;}
    .hereWeAre {margin-left: 5%; margin-right: 5%; width: 90%;}
}
