* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

:root {
    --red: hsl(0, 100%, 45%);
    --blu: hsl(225, 100%, 60%);
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

p, a {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

img {
    width: 100%;
}

.header {
    color: var(--red);
    background-color: White;
    padding: 2% 0px;
}

.header h1 {
    color: var(--red);
    background-color: White;
    font-size: 5em;
    display: inline-block;
    width: 74%;
    vertical-align: middle;
    margin-left: 2.5%;
}

#logo {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    margin-right: 2.5%;
}

.nav {
    top: 0;
    position: sticky;
}

.nav a {
    text-decoration: none;
    background-color: White;
    display: inline-block;
    color: var(--blu);
    float: left;
    text-align: center;
    border: 2.5px var(--blu) Solid;
    font-weight: 600;
    padding: 0.25em;
    font-variant-caps: all-petite-caps;
    letter-spacing: 5px;
}

.nav a:hover {
    background-color: var(--blu);
    color: White;
    transition: 0.5s;
}